.topBarContainer{
    height:50px;
    width: 100%;
    background-color: rgb(44, 157, 255);
    display: flex;
    align-items: center;
    position: sticky;
    top:0; 

}

.topBarLeft{
    flex: 3;

}

.topBarCenter{
    flex:5;

}
.searchBar{
    width: 100%;
    height:30px; 
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchIcon{
    font-size: 22px !important;
    margin-left: 10px;
    cursor: pointer;
    

}
.searchInput{
    border:none;
    width:70%;
    outline: none;
};

.searchInput:focus{
    outline: none;
}

.topBarRight{
    flex:4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white; 

}
.topBarLink{
    margin-right: 15px;
    font-size: 13px;
    cursor: pointer;
}

.topBarIcons{
    display: flex;
    cursor: pointer;  
};

.topBarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topBarIconBadge{
    width:15px;
    height:15px;
    background-color: red;
    border-radius: 20%;
    font-size: 15px; 
}


.topBarImg{
    height:32px;
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}