.share{
    box-shadow: -2px 7px 7px 9px rgba(0,0,0,0.28);
    -webkit-box-shadow: -2px 7px 7px 9px rgba(0,0,0,0.28);
    -moz-box-shadow: -2px 7px 7px 9px rgba(0,0,0,0.28);
    border-radius: 10px;
}

.shareTop{
    display: flex;
    align-items: center;
}

.shareWrapper{
    padding:10px; 

}

.shareProfileImg{

    width:50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{

    border: none;
    width: 80%;
    outline: none;
}

.shareHr{

    margin: 20px;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
};

.shareOptions{
    display: flex;

}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
};

.shareOptionText {

    font-size:14px;
    font-weight: 500;
}